@font-face {
    font-family: 'Ubuntu';
    src: url('./Ubuntu-Light.ttf') format('woff2');
  }
  
  .animated-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    position: relative;
    z-index: 1;
  }
  
  .animated-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color: #283747;
    text-align: center;
    animation: bounce 2s infinite;
    position: relative;
    z-index: 2;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 1;
  }
  
  .get-started-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Increase the margin-top value as needed */
    position: relative;
    z-index: 2;
  }
  
  .get-started-button {
    background-color: #ff6f00;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }