/* Font */
@font-face {
  font-family: 'Ubuntu';
  src: url('./Ubuntu-Light.ttf') format('woff2');
}

/* Overall container for the content */
.animated-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh; /* Slightly increased height */
  position: relative;
  z-index: 1;
}

/* Animated text */
.animated-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px; /* Increased font size for mobile */
  color: #283747;
  text-align: center;
  animation: bounce 2s infinite;
  position: relative;
  z-index: 2;
}

/* Background image */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 1;
}

/* Get started button */
.get-started-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjusted margin for mobile */
  position: relative;
  z-index: 2;
}

.get-started-button {
  background-color: #ff6f00;
  color: #ffffff;
  font-size: 16px; /* Increased font size for mobile */
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  /* Adjust container height for better visibility */
  .animated-text-container {
    height: 70vh;
  }

  /* Adjust animated text font size */
  .animated-text {
    font-size: 28px;
  }

  /* Adjust get started button font size and padding */
  .get-started-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
