/* Use the same font-family and color as in header.css */
@font-face {
  font-family: 'Ubuntu';
  src: url('../../public/fonts/Ubuntu/Ubuntu-Light.ttf') format('woff2');
  /* Add additional font file formats if necessary */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
}

/* Apply the same styles for the footer as the header */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  background-color: #283747;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Apply the styles for the text content in the footer */
.footer-left {
  flex: 1; /* Adjust the flex to take up more space */
  text-align: left; /* Align the text to the left */
}

.footer-left p {
  margin: 0; /* Remove default margin for the paragraph */
}

.footer-left a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 1rem;
}

/* Apply the styles for the social icons in the footer */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align the icons to the right */
}

.social-icon {
  font-size: 1.5rem;
  color: #ffffff;
  margin-left: 1rem;
  transition: color 0.2s;
}

.social-icon:hover {
  color: #007bff;
}

/* Apply the styles for the logo in the footer */
.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Align the logos to the right */
  align-items: center;
}

.footer-right img {
  width: 40px;
  height: 40px;
  margin-left: 1rem; /* Add space between the logos */
}

/* Apply the styles for the CTA buttons in the footer */
.cta-buttons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.login-button,
.get-started-button {
  background-color: #ff6f00;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.login-button:hover,
.get-started-button:hover {
  background-color: #e65c00; /* Slightly darker shade on hover */
}

/* Additional Styles to make it professional and stylish */

/* Center the entire footer content */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Add margin between elements in the footer */
.footer-left,
.social-icons,
.footer-right {
  margin: 10px;
}

/* Style the links in the footer */
.footer-left a,
.menu a {
  font-weight: 300; /* Adjust font weight for a more stylish look */
}

/* Style the CTA buttons on hover */
.login-button:hover,
.get-started-button:hover {
  background-color: #ff8c40; /* Slightly lighter shade on hover */
}
