/* In your footer.css */
@font-face {
  font-family: 'Ubuntu';
  src: url('../../public/fonts/Ubuntu/Ubuntu-Light.ttf') format('woff2');
  /* Add additional font file formats if necessary */
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #283747;
  color: #ffffff;
  z-index: 100;
  /* Reduce the height of the footer */
  height: 4rem;
  /* Add margin to create space below gallery tiles */
  margin-top: 10rem;
  /* Apply left and right margins */
  margin-left: 0;
  margin-right: 0;
}

.footer-bottom {
  text-align: left;
  /* Center vertically in the footer */
  line-height: 4rem;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem; /* Add space between links */
}
