.gallery-tile {
  margin-top: 2rem;
  padding: 1rem;
}

.gallery-tile h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.listing-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .listing-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .listing-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .listing-container {
    grid-template-columns: 1fr;
  }
}
