/* Import the Ubuntu font */
@font-face {
  font-family: 'Ubuntu';
  src: url('../../public/fonts/Ubuntu/Ubuntu-Light.ttf') format('woff2');
  /* Add additional font file formats if necessary */
}

/* Global body styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
}

/* Header styles */
.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background-color: #283747;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.custom-logo {
  display: flex;
  align-items: center;
}

.custom-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.custom-logo-text {
  font-size: 20px;
  margin-left: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 15px;
}

.search-bar,
.user-icon {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #283747;
  font-size: 14px;
  outline: none;
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.search-bar button:hover {
  opacity: 0.7;
}

.search-bar i {
  color: #ffffff;
  font-size: 16px;
}

.cta-buttons {
  display: flex;
  align-items: center;
}

.custom-auth-button {
  background-color: #ff6f00;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.custom-auth-button:hover {
  background-color: #e65c00;
}

.custom-user-icon {
  position: relative;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
}

.custom-icon {
  margin-right: 8px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .custom-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .custom-logo-text {
    margin-top: 0;
  }

  .navigation {
    margin-top: 0;
    justify-content: flex-end;
  }

  .search-bar {
    margin-top: 0;
  }

  .cta-buttons {
    margin-top: 0;
  }
}
