.home-page {
    /* Add any styling specific to the home page */
    margin-bottom: 100px;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
