/* ListingTile.css */
.listing-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Add position relative to parent */
}

.listing-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.listing-details {
  margin-top: 1rem;
  text-align: center;
  color: #000; /* Set text color to black */
}

.listing-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Styling for the image navigation arrows */
.listing-image-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.arrow-btn {
  background-color: transparent;
  color: #2d6cdf;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute; /* Position arrows over the image */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure the arrows are above the image */
}

.left-arrow {
  left: 1rem;
}

.right-arrow {
  right: 1rem;
}

.arrow-btn:hover {
  color: #1c4c9a;
}
